<nav class="navbar navbar-default">
	<div class="container">
		<div class="navbar-header">
			<%= link_to "Awesome To-Do List" , root_path, class: "navbar-brand"%>
		</div>

		<ul class="nav navbar-nav navbar-right">
			<li><%= link_to "Help", root_path %></li>
			<li><%= link_to "New Todo", new_item_path %></li>
		</ul>

	</div>
</nav>